.container{
    height: 50vh;
    display: grid;
    grid-template-columns: 100px ;
    grid-template-rows: 50px 1fr 50px 50px;
    gap: 5px;
}

.child1
{
    background-color:deeppink;
    padding: 20px;
    grid-column: 1/3;

}
.child2
{
    background-color:deeppink;
    padding: 20px;
    grid-row: 2/4;
    

}
.child3
{
    background-color:deeppink;
    padding: 20px;
    grid-column: 2/3;
    
    

}
.child4
{
    background-color:deeppink;
    padding: 20px;
    grid-column: 2/3;
    grid-row: 3/4;

}
.child5
{
    background-color:deeppink;
    padding: 20px;
    grid-column: 1/3;

}